# **Data Types and Structures Questions**

1. What are data structures, and why are they important?
 - Data structures in Python are specialized formats or containers used to store and organize data efficiently.
 - They provide various ways to store, access, and manipulate data according to specific needs.
    1. Data Handling
   Programming always involves working with data, which can be numbers, text, images, or more complex information. Data structures act like specialized containers that help us store and manage this data efficiently.

    2. Organization
   Just like we use shelves, drawers, or containers at home to keep things organized, in programming we use different data structures to organize different types of data.

    3. Efficiency
   The choice of data structure directly affects how quickly we can access, modify, and process data. Using the right structure is crucial for writing efficient code.

    4. Flexibility
   Different data structures serve different purposes. Some are ideal for storing large amounts of data, while others are optimized for quick searching, sorting, or retrieval.

    5. Built-in Tools
   Python offers a rich set of built-in data structures—like lists, sets, dictionaries, and tuples—that make it easier for programmers to manage data without starting from scratch.

    6. Real-World Analogy
   Think of data structures as tools in a toolbox:

   * To organize books → use a **bookshelf** (like a **list**).
   * To keep unique items → use a **display case** (like a **set**).
   * To look up meanings of words → use a **dictionary** (like Python’s **dict**).

    7. Custom Data Structures
   Besides built-in ones, Python allows us to create **custom data structures** for specific needs—just like crafting your own container to store something special.

2. Explain the diffrence between mutable and immutable data types with examples.
- Mutable Data Types: Objects whose values can be changed or modified after they are created. We can update, add, or remove elements without creating a new object.

  - Examples in Python:
  - List → [1, 2, 3]
  - Dictionary → {"a": 1, "b": 2}
  - Set → {1, 2, 3}
 - Immutable Data Types:Objects whose values cannot be changed after they are created
   - Example: Tuples, string

In [ ]:
#Mutable Data Type
my_list = [10, 20, 30]
my_list[1] = 40   # changing the second element
print(my_list)    # Output: [10, 40, 30]


#Immutable data type
my_tuple = (1, 2, 3)
# Trying to change an element
my_tuple[0] = 100   # This will through an error

[10, 40, 30]

3. What are the main differences between lists and tuples in Python?
 - **List**
   - Mutable → elements can be changed.
   - Uses square brackets [ ]
   - Supports adding, removing, and updating elements.
   - Used when data needs frequent changes.
   - Example: my_list = [1, 2, 3]
 - **Tuples**
   - Immutable → elements cannot be changed.
   - Uses parentheses ( )
   - Does not allow modification once created.
   - Used when data should remain constant.
   - Example: my_tuple = (1, 2, 3)

4. Describe how dictionaries store data.

 - **Key Value Pairs**: A dictionary stores data as key : value.
   - Example: student = {"name": "Rahul", "age": 20}
   - Here "name" is the key and "Rahul" is the value.\
 - **Unique Keys**: Keys must be unique. If the same key is used again, the old value is replaced.
 - **Order**: From Python 3.7 onwards, dictionaries remember the order in which items are added.
 -**Fast Access**: Python uses hashing to store keys. This makes finding values using keys very fast.
 - **Mutable**: It can add, remove, or change items in a dictionary.
 - **Flexible Values**: Values can be numbers, strings, lists, or even another dictionary.

5. Why might you use a set instead of a list in Python?
 - A set automatically removes duplicate values.
   - Example:
        my_list = [1, 2, 2, 3]
        my_set = set(my_list)
        print(my_set)  # Output: {1, 2, 3}
 - Sets use hashing, so checking if an item exists (in operator) is much faster than in a list.
 - Sets support operations like union, intersection, and difference, which lists don’t do directly.
 - Sets are unordered, so they are useful when you only care about unique items, not their order.

6. What is a string in Python, and how is it different from a list?
  - Sets are collections of unique and unordered elements.
  - They don’t allow duplicate elements and are represented by curly braces {} in Python.
  - Sets don’t maintain order, so elements aren’t accessed using indexes.
  - ensure that each element is unique within the set.

  - Type of Elements
     - String : Stores only characters (letters, numbers, symbols as text).
     - List : Can store different data types (numbers, strings, other lists, etc.).
  - Mutability
     - String : Immutable → cannot be changed after creation.
     - List : Mutable → can be changed (add, remove, update).
  - Syntax
     - String : Written in quotes → "Hello".
     - List : Written in square brackets → [1, 2, 3].
  - Modification
     - String : To “change” a string, Python creates a new one.
     - List : You can directly change elements.
  - Methods
     - String : Has text-related methods → upper(), lower(), replace(), split().
     - List : Has list-related methods → append(), remove(), sort(), extend().

7. How do tuples ensure data integrity in Python?
 - Immutability: Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed. This prevents accidental modification of data.
 - Fixed Structure: Since the data inside a tuple cannot be altered, the structure stays consistent throughout the program.
 - Hashable: Tuples can be used as dictionary keys or elements of a set because their immutability makes them reliable and stable.
 - Safe Data Sharing: When data is stored in a tuple and passed between functions, you are sure that the original data will not be modified anywhere else.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in key–value pairs.
  - It uses a process called hashing, where a hash function converts each key into a unique number (called a hash value).
  - This hash value decides where the value will be stored in memory, making lookup and retrieval very fast (almost O(1)).
  - In Python, a dictionary (dict) is implemented using a hash table.
  - The keys of a dictionary are hashed, and the resulting hash values determine where the corresponding values are stored.
  - This is why dictionary operations like search, insert, and delete are very fast.
  - Example in Python:
    my_dict = {"name": "Anu", "age": 21, "city": "Delhi"}
    print(my_dict["name"])   # Fast lookup using hashing → "Anu"

9. Can lists contain different data types in Python?
  - Yes. A list can hold elements of different data types (integers, strings, floats, objects, etc.).
  - Example: mixed_list = [10, "hello", 3.14, True]

10. Exaplain why are strings immutable in Python?
   - Strings in Python are immutable, meaning once it create a string, it cannot change its characters directly.
   - If we try to modify it, Python will create a new string instead.
   - This immutability is important because it makes strings safe to use in memory and allows them to be used as keys in dictionaries.
   - It also helps improve performance when strings are reused, since Python can store and reuse the same string in memory instead of creating multiple copies.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries are more powerful than lists in situations where we want to quickly look up data using a meaningful key.
  - Unlike lists, which require you to search by index or loop through values, dictionaries provide fast, direct access through keys.
  - Operations like searching, inserting, or deleting items are on average O(1) time.
  - For example, To store a student’s details, using a dictionary makes it easier: student = {"name": "Anu", "age": 21, "marks": 85}

12. Describe a scenario where using a tuple would be preferable over a list.
   - Tuples are immutable, meaning once created, their contents cannot be changed. This makes them ideal for storing fixed collections of data where modification is not allowed.
   - It can store heterogeneous data.
   - Only immutable objects can be used as dictionary keys or set elements in Python. Lists cannot be used, but tuples can.

13. How do sets handle duplicate values in Python?
  - Sets are special collections in Python that automatically remove duplicate values. If we try to add the same value more than once, the set will keep only one copy.
  - Example: s = {1, 2, 2, 3, 3, 3}
                print(s)   # Output: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
  - In a list, the 'in' keyword checks whether a value exists among the elements.
  - Example: nums = [1, 2, 3] print(2 in nums)   # True
  - In a dictionary, the 'in' keyword checks for the existence of a key, not a value.
  - Example: student = {"name": "Anu", "age": 21}
             print("name" in student)  # True
            print(21 in student)      # False
  - in looks for values in lists but for keys in dictionaries.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, we cannot modify the elements of a tuple because tuples are immutable in Python. This means you cannot add, remove, or change values inside a tuple once it is created.
  - For example: t = (1, 2, 3)
                 t[0] = 100   
                 # Error: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case.
  - Nested Dictionaries:  Dictionaries can contain other dictionaries as values, forming nested structures.
  -  These nested dictionaries can be accessed and manipulated just like any other dictionary.
  - Example: students = {
    "101": {"name": "Anu", "age": 20},
    "102": {"name": "Ravi", "age": 22}
}

17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary is O(1) on average, meaning it takes constant time regardless of the dictionary’s size.
  - This efficiency is because dictionaries use hash tables internally.
  - However, in rare cases of hash collisions, the time complexity may degrade to O(n). Still, Python optimizes hashing, so access is usually very fast.

18. In what situations are lists preferred over dictionaries?
  - When the order of elements matters (lists keep items in sequence).
  - When we only need values, not key–value pairs.
  - When working with similar types of data (like numbers or names).
  - When we need index-based access (e.g., 1st item, 2nd item).
  - When we want to use operations like sorting, slicing, or reversing.
  - When we want to save memory (lists are lighter than dictionaries).

19.  Why are Dictionaries Considered Unordered, and How Does That Affect Data Retrieval?
  - Dictionaries in Python are considered unordered collections because they do not store elements in a fixed sequence like lists.
  - Instead, dictionaries use a hash table internally.
  - Each key is converted into a hash value, and that hash determines where the corresponding value is stored in memory.
  - The items are not stored in the order you add them (though in recent versions of Python, insertion order is preserved for convenience, but logically, dictionaries are still treated as unordered).
  - We cannot access values by position or index like in a list (dict[0]).
  - The only reliable way to retrieve data is by using the key.

20. Difference Between a List and a Dictionary in Terms of Data Retrieval
  - List
    - Data is retrieved using a numeric index (position of the element).
    - The first element is at index 0, the second at index 1, and so on.
    - Example: marks = [45, 50, 60]
               print(marks[1])   # 50 → retrieved by position
  
  - Dictionary
    - Data is retrieved using a key (a meaningful name/identifier).
    - we don’t need to know the position of the item, only the key.
    - Example: student = {"name": "Anu", "age": 21}
               print(student["name"])   # "Anu" → retrieved by key

## **Practical Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
# Creating a string with my name
name = "Anjel"
print(name)
type(name)

Anjel

str

2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
len(text)

#or

text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string1 = "Python Progarmming"
string1 [0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str1 = "hello"
str1.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
text.replace("apple", "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list(range(1, 6))

#or

numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list1 = [1, 2, 3, 4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lis = [1, 2, 3, 4]
lis.remove(3)
lis

[1, 2, 4]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
lis1 = ['a', 'b', 'c', 'd']
lis1[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lis2 = [10, 20, 30, 40, 50]
lis2.reverse()
lis2

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100, 200, 300)
print(t)
type(t)

(100, 200, 300)

tuple

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t1 = ("red", "green", "blue", "yellow")
t1[1:4]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t2 = (10, 20, 5, 15)
min(t2)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple1 = ("dog", "cat", "rabbit")
tuple1.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tuple2 = ("apple", "banana", "orange")
"kiwi" in tuple2

False

In [ ]:
tuple3 = ("apple", "banana", "kiwi")
"kiwi" in tuple3

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {"a", "b", "c"}
s

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
set1

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set2 = {1, 2, 3, 4}
set2.remove(4)
set2

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1 & set2

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
d = {"name": "Anu", "age": 21, "city": "Delhi"}
d

{'name': 'Anu', 'age': 21, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
dict1 = {'name': 'John', 'age': 25}
dict1["country"] = "USA"
dict1

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict2 = {'name': 'Alice', 'age': 30}
dict2["name"]

'Alice'

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.pop("age")
d1

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
data = {'name': 'Alice', 'city': 'Paris'}
data.get("city")

'Paris'

In [ ]:
data = {'name': 'Alice', 'city': 'Paris'}
'city' in data

True

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
students = ("Anu", "Amal", "Mohammed")
marks = [45, 50, 60]
{student:marks for student, marks in zip(students, marks)}

{'Anu': 45, 'Amal': 50, 'Mohammed': 60}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
list1 = [23, 8, 65, 32, 11]
list1.sort()
list1

[8, 11, 23, 32, 65]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
fruits[3]

'mango'

29. Write a code to combine two dictionaries into one and print the result.

In [52]:
student_info = {"name": "Alice", "age": 21}
student_scores = {"math": 90, "science": 85}

student = {**student_info, **student_scores}
student

{'name': 'Alice', 'age': 21, 'math': 90, 'science': 85}

30. Write a code to convert a list of strings into a set.

In [ ]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]
fruit_basket = set(fruits)
fruit_basket

{'apple', 'banana', 'cherry'}